:root {
	--white-background: #ffffff;
	--primary-brand: #4d5ae5;
	--text: #434455;
	--dark: #2e2f42;
	--light: #f4f4fd;
	--pressed-state: #404bbf;
}

body {
	font-family: "Roboto", sans-serif;
	color: var(--text);
	background-color: var(--white-background);
}
a {
	color: inherit;
	text-decoration: none;
}
button {
	cursor: pointer;
	font-family: inherit;
}
li {
	list-style: none;
}

/* ======================header================================== */
.logo {
	color: var(--primary-brand);
	font-family: "Raleway", sans-serif;
	font-weight: 800;
	font-size: 18px;
	line-height: 1.17;
	text-transform: uppercase;
	letter-spacing: 0.03em;
}
.logo-accent {
	color: var(--dark);
}
.nav-list {
	color: var(--dark);
	font-weight: 500;
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.02em;
}
.nav-list:hover,
.nav-list:focus {
	color: var(--pressed-state);
}
.active {
	color: var(--pressed-state);
}
.contacts {
	font-style: normal;
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.02em;
}
.contacts > a:hover,
.contacts > a:focus{
	color: var(--pressed-state);
}


/* ======================/header================================== */
/* ================================main=============================== */
.hero {
	background-color: var(--dark);
}
.title-hero {
	color: var(--white-background);

	font-weight: 700;
	font-size: 56px;
	line-height: 1.07;
	text-align: center;
	letter-spacing: 0.02em;
}
.button-hero {
	color: var(--white-background);
	background: var(--primary-brand);

	font-weight: 500;
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.04em;
}
.button-hero:hover,
.button-hero:focus {
	background-color: var(--pressed-state);
}
.section-title {
	font-weight: 700;
	font-size: 36px;
	line-height: 1.11;

	text-align: center;
	letter-spacing: 0.02em;
	text-transform: capitalize;

	color: var(--dark);
}
.heading {
	font-weight: 500;
	font-size: 20px;
	line-height: 1.2;

	letter-spacing: 0.02em;

	color: var(--dark);
}
.text {
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.02em;
}
.team {
	background-color: var(--light);
}
/* ================================/main=============================== */
/* ======================================portfolio============================ */
.button {
	font-weight: 500;
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.04em;

	color: var(--primary-brand);
	background-color: var(--light);
}
.button:hover,
.button:focus {
	background-color: var(--pressed-state);
	color: var(--white-background);
}
.items {
}
.item {
}
.item-img {
}
/* ======================================.portfolio============================ */
/* =====================================footer=============================== */
.footer {
	background-color: var(--dark);
}
.footer .logo-accent,
.footer > .text {
	color: var(--light);
}
/* =====================================/footer=============================== */
